<center>
<h1> The Russellator </h1>
<%= image_tag("russellator.jpg", height: '300', width: '250') %>
</center>

<br>


<center>
<%= form_tag("/search", method: "post") do %>
 <span> <%= label_tag(:id, "User ID:") %>
  <%= text_field_tag(:id) %>
<%= button_tag(type: "submit", class: "btn btn-primary") do %>
    Qualify Site <i class="icon-repeat"></i>
<% end %>
</span>
<% end %>
</center>
</div>

<br>

<div>
<%if @params %>
<center>
<h2> Results </h2>
<% session[:response].each do |site|  %>
<div>
  <br>
	Site Address: <a href=<%=(site[1]['url'])%>><%=(site[1]['url'])% target="_blank"></a>
  <%if site[1]['site_status'] != "OK" %>
  <br> Site Status: Site does not respond <br>
  <%else%>
  <br> User System: <%= site[1]["user_system"] %>
  <%if site[1]['built_with']%>
  <br> Built With: <%= site[1]['built_with'] %>
  <%end%>
	<% if site[1]['analytics'].any? %>
	<br> Anayltics Used: <%= site[1]['analytics'].join(", ") %>
	<%end%>
	<br> Site Fit: <%= site[1]['fit'] %> <br>
	<%end%>
  </div>
  <%end%>
</center>
<%end%>
</div>
